<?xml version='1.0' encoding='utf-8'?>
<plugin id="io.github.abforce.cordovaguard" version="1.0.0" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android"><name>CordovaGuard</name><js-module name="CordovaGuard" src="www/CordovaGuard.js"><clobbers target="cordova.plugins.CordovaGuard" /></js-module><platform name="android"><config-file parent="/*" target="res/xml/config.xml"><feature name="CordovaGuard"><param name="android-package" value="io.github.abforce.cordovaguard.CordovaGuard" /></feature></config-file><config-file parent="/*" target="AndroidManifest.xml"></config-file><source-file src="src/android/CordovaGuard.java" target-dir="src/io/github/abforce/cordovaguard/CordovaGuard" /></platform></plugin>